/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Kaushan+Script&display=swap");

/*
@font-face {
  font-family: "Kaushan Script", cursive;
} */

@font-face {
  font-family: "mangat";
  font-style: normal;
  font-weight: normal;
  src: local("mangat"), url("/fonts/manga-temple/mangat.woff") format("woff");
}

@font-face {
  font-family: "mangatb";
  font-style: normal;
  font-weight: normal;
  src: local("mangatb"), url("/fonts/manga-temple/mangatb.woff") format("woff");
}
@font-face {
  font-family: "mangati";
  font-style: normal;
  font-weight: normal;
  src: local("mangati"), url("/fonts/manga-temple/mangati.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  cursor: url("/Cursor/Sukuna\ Cursor\ 72px.png"), auto;
  overflow: hidden;
}

html {
  background-color: black;
}

nav {
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.navBG {
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: -1;
}

.nav-container {
  display: flex;
  width: 95%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}

.nav-container ul {
  margin: 2.6vh auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.nav-container a {
  text-decoration: none;
  color: orangered;
  font-family: "mangat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  cursor: url("/Cursor/Sukuna\ Cursor\ 72px.png"), default;
}

.leftContainer {
  height: 100%;
  width: 40%;
}

.LogoContainer {
  height: 3.5vw;
  width: auto;
}

.RightContainer {
  height: 100%;
  width: 40%;
}

.Anime {
  top: 10vh;
  height: 90vh;
  width: 100vw;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.anim-box {
  height: 90vh;
  width: 100vw;
  margin: auto;
  display: flex;
  position: relative;
}

.anim {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.anim h1 {
  display: flex;
  color: white;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: red;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
